<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='header' class='ui menu grid'>

    <!-- This is the computer-style menu -->
    <div class='row'>
      <ul class="ui purple inverted menu">
        <%= link_to 'https://github.com/shanghaiellen' do %>
          <li class='item'>
            <i class='github sign icon large'></i>
          </li>
        <% end %>

        <%= link_to 'mailto:shanghaiellen@gmail.com' do %>
          <li class='item'>
            <i class='mail outline icon large'></i>
          </li>
        <% end %>

        <%= link_to 'https://twitter.com/ln1draw' do %>
          <li class='item'>
            <i class='twitter sign icon large'></i>
          </li>
        <% end %>

        <%= link_to '/' do %>
          <h1 class='right menu item'><em>ellen wondra-lindley</em></h1>
        <% end %>
      </ul>
    </div>
  </div>
     
    <br>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <%= yield %>

  </body>
</html>
