<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='header' class='ui menu grid'>
      <%= link_to(image_tag('oberhaus.jpg', alt: "logo", title: "Welcome", class: 'header-pic'),"/") %>

    <!-- This is the computer-style menu -->
      <div class='row'>
        <ul class="ui fluid three item menu">
          <%= link_to 'https://github.com/shanghaiellen' do %>
            <li class='center item'>
              <i class='github sign icon large'></i>
            </li>
          <% end %>

          <%= link_to 'mailto:shanghaiellen@gmail.com' do %>
            <li class='center item'>
              <i class='mail outline icon large'></i>
            </li>
          <% end %>

          <%= link_to 'https://twitter.com/ln1draw' do %>
            <li class='center item'>
              <i class='twitter sign icon large'></i>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class='namebox'>
      <%= link_to '/' do %>
        <h1 class='name'>Ellen Wondra-Lindley</h1>
      <% end %>
    </div>
     
    <br>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <%= yield %>

  </body>
</html>
